IS_PRODUCTION=false # "true" if running in production, "false" otherwise

CERT_FILE="" # full path to the cert file
KEY_FILE=""  # full path to the key file

GUILD_ID=""          # Discord guild ID (server ID)
BASE_CHANNEL_ID=""   # Discord base channel ID (Channel where bot will send messages)
BRASIL_CHANNEL_ID="" # Discord channel ID for Brasil (Voice channel for Brasil's voice chat)
ADMIN_ROLE_ID=""     # Discord admin role ID (Role that can use admin commands)

DB_ADDRESS="" # Database address
DB_NAME=""    # Database name
DB_USER=""    # Database user
DB_PASS=""    # Database password

DISCORD_CLIENT_ID=""     # Discord client ID
DISCORD_CLIENT_SECRET="" # Discord client secret
DISCORD_REDIRECT_URI=""  # Discord redirect URI

DISCORD_TOKEN="" # Discord bot token
YT_API_KEY=""    # YouTube API key

MockDBName="" # Database name for testing if dbname is different from DB_NAME
